<!-- fragment header -->
<header class="main__header" data-th-fragment="headerName">
<a class="home__link" href="/">Eni-Encheres</a>
	<nav class="main__nav">
		<ul class="nav__list">
      <li class="nav__item"><a class="li__link" href="/">Accueil</a></li>
      <li data-sec-authorize="isAuthenticated()" class="nav__item"><a class="li__link" href="/nouvelle-vente">Vendre un article</a></li>
			<li data-th-if="${#authorization.expression('isAuthenticated')}" class="nav__item"><a class="li__link" data-th-href="@{'/profil/' + ${#authentication.name}}">Mon profil</a></li>
			<li data-sec-authorize="!isAuthenticated()" data-th-if="${currentPage != '/login'}" class="nav__item"><a class="li__link" href="/login">S'inscrire - Se connecter</a></li>
			<li data-th-if="${#authorization.expression('isAuthenticated')}" class="nav__item"><a class="li__link" href="/logout">Deconnexion</a></li>
		</ul>
	</nav>
</header>