<!DOCTYPE html>
<html data-th-replace="~{layouts/fragment-layout :: layoutName (
							title= ~{ :: title},
							content = ~{ :: main})}">
							

	<title>changement de mot de passe</title>	

	<main class="login__main">
		<form class="login__form" data-th-action="@{/profil/change-password}" method="post" data-th-object="${passwordDTO}">
		<ul class="login__list">
			<li class="login__item">
				<label class="login__label" for="idUser">ancien mot de passe :</label>
				<!--  ne pas modifier le name utiliser username -->
				<input class="login__field" id="idUser" type="text" data-th-field="*{oldPassword}">
			</li>
			<li class="login__item">
				<label class="login__label" for="idPass">Mot de passe :</label>
				<!--  ne pas modifier le name utiliser password -->
				<input class="login__field" id="idPass" type="password" data-th-field="*{newPassword}">
			</li>
			<li class="login__item">
				<label class="login__label" for="idPass">Mot de passe :</label>
				<!--  ne pas modifier le name utiliser password -->
				<input class="login__field" id="idPass" type="password" data-th-field="*{confirmPassword}">
			</li>
		</ul>
		<div class="login__box">
			<button class="login__button" type="submit">Connexion</button>
			<a class="login__forgot" href="/">Mot de passe oublié</a>
		</div>
		<a class="login__register" href=/profil/change-password>Créer un compte</a>
		</form>
	</main>

</html>