<!DOCTYPE html>
<html
	data-th-replace="~{layouts/fragment-layout :: layoutName (
							title= ~{ :: title},
							content = ~{ :: main})}">

<!--  tire passé en paramètre -->
<title>Profile</title>
<main>
	<h1>Nouvelle vente</h1>

	<!-- Formulaire de création d'article -->
	<form class="vente__form" th:action="@{/nouvelle-vente}" method="post">
		<div class="vente__form-container">
			<!-- Nom de l'article -->
			<label class="article__text" for="nomArticle">Article(*) :</label> <input
				type="text" id="nomArticle" name="nom_article" required />

			<!-- Mise à prix -->
			<label class="article__text" for="prixInitial">Mise à prix(*)
				:</label> <input type="number" id="prixInitial" name="prix_initial" min="0"
				required />

			<!-- Catégorie -->
			<label class="article__text" for="categorie">Catégorie(*) :</label> <select
				id="categorie" name="no_categorie" required>
				<option th:each="cat : ${categories}" th:value="${cat.no_categorie}"
					th:text="${cat.libelle}"></option>
			</select>

			<!-- Date de début -->
			<label class="article__text" for="dateDebut">Début de
				l'enchère(*) :</label> <input type="date" id="dateDebut"
				name="date_debut_encheres" required />

			<!-- Description -->
			<label class="article__text--description" for="description">Description(*)
				:</label>
			<textarea class="article__textarea" id="description"
				name="description" required></textarea>

			<!-- Date de fin -->
			<label class="article__text" for="dateFin">Fin de l'enchère(*) :</label>
			<input type="date" id="dateFin" name="date_fin_encheres" required />



			<!-- Adresse de retrait -->
			<label class="article__text" for="retrait">Retrait(*) :</label> <select
				class="vente__retrait" id="retrait" name="no_adresse_retrait"
				required>
				<option th:each="adr : ${adresses}" th:value="${adr.no_adresse}"
					th:text="${adr.rue}"></option>
			</select>
		</div>
		<div class="vente__buttons">
			<!-- Boutons -->
			<button class="button vente__button" type="submit" name="action"
				value="suivant">Suivant</button>
			<a href="/" class="button vente__button" type="submit" name="action"
				value="annulerVente">Annuler la vente</a>
			<a href="/" class="button vente__button" type="submit" name="action"
				value="annuler">Annuler</a>
		</div>
	</form>
</main>
</body>
</html>
