<!DOCTYPE html>
<html
	data-th-replace="~{layouts/fragment-layout :: layoutName (
							title= ~{ :: title},
							content = ~{ :: main})}">

<!--  tire passé en paramètre -->
<title>Profile</title>

<main>

	<h1 data-th-text="${user.pseudo}"></h1>
	<ul class="profil__list--other" data-th-object="${user}">
		<li class="profil__item"><p class="profil__text">Prénom:</p> <!--  ne pas modifier le name utiliser username -->
			<span class="profil__data--other" data-th-text="*{prenom}"></span></li>
		<li class="profil__item"><p class="profil__text">Nom:</p> <!--  ne pas modifier le name utiliser username -->
			<span class="profil__data--other" data-th-text="*{nom}"></span></li>
		<li class="profil__item"><p class="profil__text">Email:</p> <!--  ne pas modifier le name utiliser username -->
			<span class="profil__data--other" data-th-text="*{email}"></span></li>
		<li class="profil__item"><p class="profil__text">Téléphone:</p> <!--  ne pas modifier le name utiliser username -->
			<span class="profil__data--other" data-th-text="*{telephone}"></span></li>
	</ul>
	<a
		data-th-if="${loggedInUser != null and user.pseudo == loggedInUser.pseudo}"
		href="/profil/edit" class="button profil__button">Modifier</a>
		<a
		data-th-if="${loggedInUser == null or user.pseudo != loggedInUser.pseudo}"
		href="/" class="button profil__button">Retour</a>
</main>

</html>