<!DOCTYPE html>
<html
	data-th-replace="~{layouts/fragment-layout :: layoutName (
							title= ~{ :: title},
							content = ~{ :: main})}">

<!--  titre passé en paramètre -->
<title>Inscription</title>

<main class="register__main">
	<form class="register__form" data-th-action="#{/security/create}"
		method="post" data-th-object="${user}">
		<ul class="register__list">
			<li class="register__item"><label for="idPseudo">Pseudo
					:</label> <!--  ne pas modifier le name utiliser username --> <input
				class="register__field" id="idPseudo" type="text"
				data-th-field="*{pseudo}"></li>
			<li class="register__item"><label for="idNom">Nom :</label> <!--  ne pas modifier le name utiliser username -->
				<input class="register__field" id="idNom" type="text"
				data-th-field="*{nom}"></li>
			<li class="register__item"><label for="idPrenom">Prenom
					:</label> <!--  ne pas modifier le name utiliser username --> <input
				class="register__field" id="idPrenom" type="text"
				data-th-field="*{prenom}"></li>
			<li class="register__item"><label for="idEmail">Email :</label>
				<!--  ne pas modifier le name utiliser username --> <input
				class="register__field" id="idEmail" type="text"
				data-th-field="*{email}"></li>
			<li class="register__item"><label for="idTelephone">Telephone
					:</label> <!--  ne pas modifier le name utiliser username --> <input
				class="register__field" id="idTelephone" type="text"
				data-th-field="*{telephone}"></li>
			<li class="register__item"><label for="idMotDePasse">Mot
					de Passe :</label> <!--  ne pas modifier le name utiliser username --> <input
				class="register__field" id="idMotDePasse" type="text"
				data-th-field="*{mot_de_passe}">
			</li>
			<li class="register__item"><label for="idRue">Adresse :</label>
				<!--  ne pas modifier le name utiliser username --> <input
				class="register__field" id="idRue" type="text"
				data-th-field="*{adresse.rue}"></li>
			<li class="register__item"><label for="idCodePostal">Code
					Postal :</label> <!--  ne pas modifier le name utiliser username --> <input
				class="register__field" id="idCodePostal" type="text"
				data-th-field="*{adresse.code_postal}">
			</li>
			<li class="register__item"><label for="idVille">Ville :</label>
				<!--  ne pas modifier le name utiliser username --> <input
				class="register__field" id="idVille" type="text"
				data-th-field="*{adresse.ville}"></li>

		</ul>
		<button class="register__button" type="submit">S'inscrire</button>
	</form>
</main>

</html>