<!DOCTYPE html>
<html
	data-th-replace="~{layouts/fragment-layout :: layoutName (
							title= ~{ :: title},
							content = ~{ :: main})}">

<!--  tire passé en paramètre -->
<title>Profile</title>

<main>
	<h1 data-th-if="${article.statut <= 1}" class="title">Détail d'une vente</h1>
	<div class="title" data-th-if="${article.statut > 1}">
	<h1 class="title" data-th-if="${loggedInUser == null or $loggedInUser != articleUser}" data-th-text="${pseudoLastEnchere}+ ' a remporté la vente'"></h1>
	
	</div>
	

	<div
		data-th-object="${article}" class="article__list">

		<p class="article__text">Article :</p>
		<span data-th-text="*{nom_article}"></span>

		<p class="article__text">Mise à prix :</p>
		<span data-th-text="*{prixInitial} + ' point(s)'"></span>

		<p class="article__text">Categorie :</p>
		<span data-th-text="*{categorie.libelle}"></span>

		<p class="article__text">Meilleure offre :</p>
		<span data-th-text="*{prixVente}+' point(s) par ' + ${pseudoLastEnchere}"></span>

		<p class="article__text">Description :</p>
		<span data-th-text="*{description}"></span>

		<p class="article__text">Fin de l'enchère :</p>
		<span
			data-th-text="*{#temporals.format(dateFinEncheres, 'dd/MM/yyyy')}"></span>

		<p class="article__text">Retrait :</p>
		<span class="article__data--line" data-th-text="*{adresse_retrait}"></span>

		<p class="article__text">Vendeur :</p>
		<span class="article__data--line" data-th-text="*{utilisateur.pseudo}"></span>

	</div>
	<form data-th-action="@{/enchere/miser/{id}(id=${article.no_article})}" method="POST">
		<div class="article__input-container"
		data-th-if="${loggedInUser != null and articleUser.pseudo != loggedInUser.pseudo}">
		<label class="article__text" for="idEncherire">Mon enchère: </label>
		<input class="mise__input" id="idEncherire" name="mise" type="number" th:min="*{prixVente}" th:max="${loggedInUser.credit}">
		<button class="button encherir__button" type="submit">Enchérir</button>

		</div>
	</form>
	

	<a
		data-th-if="${loggedInUser == null or articleUser.pseudo == loggedInUser.pseudo}"
		class="button encherir__button encherir__button--retour" href="/">Retour</a>
</main>
</html>