/*********** RESET ***********/
html, body, 
div, section, article, header, footer, nav, aside, main, 
h1, h2, h3, h4, h5, h6, p, span, strong, b, em, i, small, mark, blockquote, cite, code, pre, 
ul, ol, li, dl, dt, dd, 
form, input, textarea, button, select, option, label, fieldset, legend, 
table, thead, tbody, tfoot, tr, th, td, caption, 
img, audio, video, source, iframe, canvas, svg, 
a, details, summary, dialog, 
hr, br, wbr, abbr, address, progress, meter {
	font-size: 16px;
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

ul {
	text-decoration: none;
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
}

main {
	position: relative;
	top: 80px;
	left: 20px;
	width: calc(100% - 40px);
	height: calc(100% - 80px);
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items : center;
	gap: 50px;
}

.main--center {
	justify-content: center;
	align-items: center;
}

.title {
	position: absolute;
	top: 40px; left : 50%;
	transform: translate(-50%);
	font-size: 30px;
	left: 50%;
}

input {
	padding-left: 3px;
	width: 200px;
}
input[type="radio"] {
	width: auto;
}
/*********** HEADER ***********/
.main__header {
	position: fixed;
	display: flex;
	width: 100%;
	line-height: 80px;
	justify-content: space-between;
	background-color: white;
}

.home__link {
	padding: 0 20px;
	color: black;
	font-weight: bold;
	font-size: 20px;
}

.main__nav {
	display: flex;
}

.nav__list {
	display: flex;
}

.nav__item {
	padding: 0 20px;
}

.li__link {
	width: 100%;
	height: 100%;
	color: blue;
	text-decoration: underline;
}

.language-icon {
	height: 20px;
	border-radius: 5px;
}

/*********** DATE ***********/
.date__container {
	position: fixed;
	right: 20px;
	top: 80px;
	padding: 20px;
	border: 2px black solid;
}
/*********** LOGIN AND REGISTER ***********/
.login__form {
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}

.login__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}

.login__error {
	color: red;
}

.register__list, .profil__list, .vente__form {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.error__container {
	display: flex;
	gap: 10px;
}
#password__error {
	align-self: top;
	width: 50%;
	display: flex;
	text-align: left;
	font-size: 10px;
	color: red;
}
label[for="idValidation"] {
	align-self: center;
}
.register__list--address, .profil__list--address {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

label[for="idCodePostal"], label[for="idVille"] {
	visibility: hidden;
	width: 0px;
	overflow: hidden;
}

.register__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 800px;
	gap: 30px;
}
.login__item, .profil__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.register__item > * {
	width: 200px;
}
.register__item--address, .profil__item--address {
	display: flex;
	align-items: center;
}
.login__label {
	display: flex;
	justify-content: flex-end;
}
.login__field, .register__field, .profil__field {
	height: 30px;
	border: 2px black solid;
}

.login__box {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: white;
	font-weight: bold;
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
	cursor: pointer;
	color: black;
	border: 2px black solid;
}

.login__button {
	padding: 0 20px;
}

.register__buttons {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
}

.register__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
}

.button:hover {
	box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.login__forgot {
	margin-bottom: 10px;
	color: blue;
	text-decoration: underline;
}

.login__register {
	line-height: 50px;
	border: 2px black solid;
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
	color: black;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.login__register:hover {
	box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

/*********** PROFIL ***********/
.profil__text {
	width: 100px;
}

li:has(input[type="hidden"]) {
	display: none;
}

.profil__button {
	width: 300px;
}

.profil-edit__form, .register__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}
.profil-edit__list, .register__list {
	position: relative;
	right: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.profil-edit__item, .register__item {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	text-align: right;
}
.profil-edit__field {
	width: 170px;
	border: 2px black solid;
}
.profil-edit__data {
	font-weight: bold;
	text-align: left;
}

.profil-edit__buttons {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.profil-edit__button {
	width: 200px;
}

.profil__cancel {
	align-self: flex-end;
	margin-right: 20px;
}

.profil__list {
	position: relative;
	top: 0px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}
.changepass__box {
	display: flex;
	justify-content: space-evenly;
}
/*********** INDEX ***********/
.index__main {
	align-items: flex-start;
}

.index__title {
	align-self: center;
}

.enchere__form {
	position: absolute;
	top: 120px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	width: 600px;
	gap: 10px;
}

.filter__text {
	font-size: 20px;
	width: 100%;
	align-self: flex-end;
}

.filter__input {
	width: 75%;
	border-radius: 30px;
}

.filter__input, .categorie__list {
	flex-grow: 2;
	height: 30px;
	align-self: center;
}

.filter__button {
	width: calc(25% - 10px);
}

.categorie__text {
	align-self: center;
}

.article__container {
	position: absolute;
	top: 400px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
}

.article__card {
	display: flex;
	align-items: center;
	position: relative; border : 1px black solid;
	padding: 20px;
	gap: 20px;
	position: relative;
	border: 1px black solid;
}

.article__link {
	font-weight: bold;
	font-size: 20px;
	color: black;
	text-decoration: underline;
	font-size: 20px;
}

.article__image {
	width: 100px;
	height: 100px;
}

.article__infos {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.radio__filters {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.radio__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	display: flex;
}

.radio__list {
	width: 60%;
}
/*********** INDEX ***********/
.article__list {
	position: relative;
	right: 80px;
	display: grid;
	grid-template-columns: repeat(4, 200px);
	width: 800px;
	gap: 40px;
}
.article__list > span {
	text-wrap: nowrap;
}
.article__data--line {
	grid-column: 2/span 3;
}

.article__text {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.article__input-container {
	position: relative;
	right: 80px;
	grid-column: 1/span 4;
	display: grid;
	grid-template-columns: repeat(4, 200px);
	width: 800px;
	gap: 40px;
	align-items: center;
}

.mise__input {
	height: 20px;
}

.encherir__button {
	padding: 0 40px;
}
/*********** NOUVELLE VENTE ***********/
.vente__form {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.vente__form-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	align-items: flex-start;
	position: relative;
	right: 80px;
}

.vente__retrait {
	grid-column: 2/4;
}

.article__text--description {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-self: flex-start;
}

.article__textarea {
	height: 50px;
}

.vente__buttons {
	display: flex;
	justify-content: center;
	gap: 60px;
}

.vente__button {
	padding: 0 40px;
}