/*********** RESET ***********/
* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	text-decoration: none;
	list-style: none;
}
a {
	text-decoration: none;
}
html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
}
main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
h1 {
	font-size: 30px;
	position: absolute;
	top: 160px;
}
label {
	width: 100px;
}
input {
	padding-left: 3px;
}
/*********** HEADER ***********/
.main__header {
	position: fixed;
	display: flex;
	width: 100%;
	line-height: 80px;
	justify-content: space-between;
	background-color: white;
}
.home__link {
	padding: 0 20px;
	color: black;
	font-weight: bold;
	font-size: 20px;
}
.main__nav {
	display: flex;
}
.nav__list {
	display: flex;
}
.nav__item {
	padding: 0 20px;
}
.li__link {
	width: 100%;
	height: 100%;
	color: blue;
	text-decoration: underline;	
}

/*********** DATE ***********/
.date__container {
	position: absolute;
	right: 20px;
	top: 80px;
	padding: 20px;
	border: 2px black solid;
}
/*********** LOGIN AND REGISTER ***********/

.login__form {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}
.register__form, .profil__form {
	width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}
.login__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}
.register__list, .profil__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
}
.register__list--address, .profil__list--address {
	width: 700px;
	display: flex;
	justify-content: space-between;
}
label[for="idCodePostal"], label[for="idVille"] {
	visibility: hidden;
	width: 0px;
	overflow: hidden;
}
.login__item, .register__item, .profil__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	gap: 30px;
}
.register__item--address, .profil__item--address {
	display: flex;
	align-items: center;
}
.login__field, .register__field, .profil__field {
	flex-grow: 2;
	height: 30px;
	border: 2px black solid;
}
.login__box {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: white;
	font-weight: bold;
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
	cursor: pointer;
	color: black;
	border: 2px black solid;
}
.login__button {
	padding: 0 20px;
}
.register__buttons {
	display: flex;
	justify-content: space-evenly;
}
.register__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
}

.button:hover {
	box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,1);
}
.login__forgot {
	margin-bottom: 10px;
	color: blue;
	text-decoration: underline;
}
.login__register {
	line-height: 50px;
	border: 2px black solid;
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
	color: black;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.login__register:hover {
	box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,1);
}

/*********** PROFIL ***********/
.profil__text {
	width: 100px;
}
.profil__data {
	font-weight: bold;
	flex-grow: 2;
}
li:has(input[type="hidden"]) {
	display: none;
}
.profil__button {
	width: 300px;
}
.profil-edit__buttons {
	display: flex;
	justify-content: space-between;
}
.profil-edit__button {
	width: 200px;
}
.profil__cancel {
	align-self: flex-end;
	margin-right: 20px;
}
.profil__list--other {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.profil__data--other {
	font-weight: bold;
}
.changepass__box {
	display: flex;
	justify-content: space-evenly;
}
/*********** INDEX ***********/
.index__main {
	align-items: flex-start;
	padding: 0 20px;
}
.index__title {
	align-self: center;
}
.enchere__form {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	width: 30%;
	gap: 10px;
}
.filter__text {
	width: 100%;
	align-self: flex-end;
}
.filter__input {
	width: 75%;
	border-radius: 30px;
}
.filter__input, .categorie__list {
	flex-grow: 2;
	height: 30px;
	align-self: center;
}
.filter__button {
	width: calc(25% - 10px);
}

.categorie__text {
	align-self: center;
}
.article__container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
.article__card {
	display: flex;
	position: relative;
	width: 30%;
	border: 1px black solid;
	justify-content: space-between;
	padding: 20px;
	gap: 40px;
}
.article__link {
	position: absolute;
	width: 100%;
	height: 100%;
}
.article__image {
	width: 100px;
	height: 100px;
}
.article__infos {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}