<html  data-th-fragment="layoutName(title, content)">
<head>
<meta charset="UTF-8">
<title data-th-replace=${title}></title>
<link rel="stylesheet" href="/css/general.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet"/>

    <script src="/js/script.js" defer></script>
</head>
<body>
	<div data-th-replace="~{fragments/fragment-header :: headerName}"></div>
	<div data-th-replace="~{fragments/fragment-date :: dateName}"></div>
	<main data-th-replace=${content}></main>
	
	<footer>
	</footer>
</body>
</html>