<html  data-th-fragment="layoutName(title, content)">
<head>
<meta charset="UTF-8">
<title data-th-replace=${title}></title>
<link rel="stylesheet" href="/css/general.css">
</head>
<body>
	<!--  insertion du fragment header -->
	<!--<div data-th-insert="~{fragments/fragment-header :: headerName}"></div>-->
	<!-- remplacement par le fragment header -->
	<div data-th-replace="~{fragments/fragment-header :: headerName}"></div>
	
	<main data-th-replace=${content}></main>
	
	<footer>
	</footer>
</body>
</html>